@media only screen and (max-width: 1920px) and (min-width: 992px) {
	.crf-ask a,
	.widget-title,
	.crf-widget-form h3{
		font-size: calc(20px + (30 - 20) * ((100vw - 992px) / (1920 - 992)));
	}
	.crf-widget-form{
		font-size: calc(15px + (25 - 15) * ((100vw - 992px) / (1920 - 992)));
	}
	.post-title,
	.widget .entry-title a{
		font-size: calc(15px + (25 - 15) * ((100vw - 992px) / (1920 - 992)));
		line-height: calc(20px + (30 - 20) * ((100vw - 992px) / (1920 - 992)));
	}



}


@media (max-width: 1600px){
    .menu-item a{
        font-size: calc(14px + (30 - 14) * ((100vw - 320px) / (1920 - 320)));
    }
    .site-header > .wrap .title-area{
		max-width: 230px;
    }
    .sub-menu{
		width: 250px;
    }
    .breadcrumb-section h1{
        font-size: calc(60px + (255 - 60) * ((100vw - 320px) / (1920 - 320)));
        line-height: calc(76px + (270 - 76) * ((100vw - 320px) / (1920 - 320))); 
    }
	.breadcrumb-section .subtitle{
        font-size: calc(18px + (40 - 18) * ((100vw - 320px) / (1920 - 320)));
	    letter-spacing: 1vw;
	}
	.breadcrumb-section p{
        font-size: calc(16px + (46 - 16) * ((100vw - 320px) / (1920 - 320)));
	}
	.icon-down {
	    width: 40px;
	    padding: 50px 0 0;
	}
	

}

@media (min-width: 1460px){

}


@media (max-width: 1459px){
	.social-ft ul{
		margin: 0 -10px;
		width: auto;
	}
	.social-ft ul li {
	    width: 20%;
	    padding: 0 10px;
	}
	.social-ft ul li img{
		margin: auto;
	}
	.footer-center{
		margin: 0;
	}
	.ft-logo img {
	    max-width: 260px;
    }
    .ft-btn{
    	margin: 0;
    	text-align: center;
    }
    .ft-btn .btn-crossfit{
	    min-width: auto;
	    height: auto;
	    line-height: normal;
	    padding: 15px;
	    font-size: 22px;
    }
    .add-info{
    	font-size: 24px;
    	line-height: 37px;
    }
	.ft-part .list-img p, .ft-part .list-img{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.ft-part .list-img img {
	    max-height: 50px;
	    width: auto;
	}
	.phone-num, .title-sc{
		margin-bottom: 30px;
	}
	._ct-section-contact .free-trial-description,
	.tab-pricings, .pp_sec-content, .pp_sec2-content-right, .pp_sec3-content, .pp_sec5-content{
		font-size: calc(18px + (25 - 18) * ((100vw - 320px) / (1459 - 320)));
		line-height: calc(32px + (38 - 32) * ((100vw - 320px) / (1459 - 320)));
	}
	.sec-title{
		font-size: calc(26px + (51 - 26) * ((100vw - 320px) / (1459 - 320)));
        line-height: calc(32px + (62 - 32) * ((100vw - 320px) / (1459 - 320)));
	}

	.contact-us-form .title44{
		font-size: calc(20px + (44 - 20) * ((100vw - 320px) / (1459 - 320)));
        line-height: calc(32px + (67 - 32) * ((100vw - 320px) / (1459 - 320)));
	}

	.pricing-box .price h3{
	    font-size: 62px;
	}
	.pricing-box .price h3 span {
	    font-size: 18px;
	}
	.pricing-box .price h3:not(.p1){
	    font-size: 42px;
	}
	.pricing-box .price h3 span:not(.u1) {
	    font-size: 12px;
	}
	.pricing-box .price h4{
	    font-size: 20px;
	}
	[class*="templatesprograms-pricing"] [class*="crf-pp-section"] .pricing-box .info p{
		font-size: 20px;
		line-height: 32px;
	    margin-bottom: 12px;
	}

	.crf_pp_table td, 
	.crf_pp_table th{
		font-size: 18px;
		min-width: 100px;
		height: 50px;
	}
	.crf_pp_table thead tr th{
		font-size: 20px;
	}
	.crf_pp_table tbody tr td:first-child{
		width: 100px;
		padding: 0 20px;
	}
	.gal-item a.mfp_lightbox{
		display: block;
	}
	.gal-item0 .mfp_lightbox{
		margin-bottom: 0;
	}
	.gal-item3 .mfp_lightbox{
		margin-right: 0;
	}
	.gal-item1 .mfp_lightbox{
	     margin-bottom: 0; 
	}
	.gal-item .mfp_lightbox{
		margin-bottom: 30px;
	}

}

@media (max-width: 1366px){
	.site-header > .wrap .title-area {
	    max-width: 170px;
	}
	.site-header{
		height: auto;
	}
	.site-inner {
	    margin-top: -200px !important;
	}
	.breadcrumb-section{
		height: 800px;
	}
	.breadcrumb-section h1{
		margin: 0;
	}

}
@media (max-width: 1199px){
	.pricing-box{
		width: 50%;
		margin-bottom: 30px;
	}
	.site-header > .wrap .title-area {
	    max-width: 130px;
	    margin: 0 20px;
	}
	.menu {
	    margin: 0;
	}
	.menu-item {
	    margin: 0 25px;
	}
	.menu-item a{
	    font-size: 20px;
	}
	.breadcrumb-section {
	    height: 720px;
	}
	.breadcrumb-section h1{
		font-size: 130px;
		line-height: 140px;
		margin-bottom: 20px;
	}
	.breadcrumb-section p {
	    font-size: 26px;
        padding: 5px 0;
	}
	.icon-down {
	    padding: 50px 0 0;
	}
	.footer-custom {
	    padding: 50px 0;
	}
    .btn-crossfit{
   		padding: 0 30px;
    }
    .crf-pp-section-2{
    	margin-bottom: 10vw;
    }
	.crf-pp-section-3 {
        padding: 200px 0;
	    margin: -130px 0 0;
	}

	.contactus-template .row-contact{
		margin: 0 -15px;
	}
	.contactus-template .col-contact{
		padding: 0 15px;
	}





}
@media (max-width: 1024px){
	.breadcrumb-section h1{
		font-size: 120px;
		line-height: 130px;
	    margin-bottom: 20px;
	}
	.menu-item {
	    margin: 0 15px;
	}
	.icon-down {
	    padding: 8vw 0 0;
	}
	.crf_pp_table thead tr th{
		font-size: 18px;
	}
	.crf_pp_table td, 
	.crf_pp_table th{
		font-size: 16px;
	    padding: 10px 5px;
	}
	.crf_pp_table tbody tr td:first-child{
		padding: 0 10px;
	}
}
@media (max-width: 991px){
	.crf_pp_table td, 
	.crf_pp_table th{
		min-width: auto;	
	}
	.pricing-box .info{
		padding-bottom: 80px;
	}
	.hm-section-6 .contact-us-form .desc{
		margin-bottom: 25px;
	}
	.contact-us-wrap{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical; 
		-webkit-box-direction: reverse; 
		-ms-flex-direction: column-reverse; 
		flex-direction: column-reverse;
	}
	.section-contact-box .contact-us-wrap{
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	    -ms-flex-direction: column;
	    flex-direction: column;
	}
	.pp_sec2-img-left,
	.hm-section-4 .content-wrap .img-wrap img,
	.hm-section-3 .col-section3-img .img-wrap img,
	.hm-section-2 .hm-section-2-content .col-img .img-wrap img{
		display: none;
	}

	.site-header > .wrap{
		display: block;
	}
	.site-header > .wrap .title-area{
		margin: 0 auto;
	}
	.genesis-responsive-menu{
		display: none;
	}
	.menu-toggle{
        display: block;
        font-size: 20px;
	    position: absolute;
	    left: 15px;
	    top: 38px;
	    text-transform: uppercase;
	    padding: 0;
	    background: transparent;
	    border: none;
	    color: #fff !important;
        height: 50px;
	    padding: 0 15px;
	    border: 2px solid;
	    outline: none !important;
	}
	.menu-toggle.activated{
		color: #00ff00 !important;
	}
	.dashicons-menu:before{
		font-size: 25px !important;
	    width: auto !important;
	}
	.genesis-responsive-menu{
	    position: absolute;
	    left: 15px;
	    top: 100%;
	    margin: 0;
	    width: 290px;
	    z-index: 999;
	    background: #fff;
	    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
	    transition: all 0.5s ease-out 0s;
	    -webkit-transition: all 0.5s ease-out 0s;
	}
	.menu{}
	.menu-item {
        display: block;
	    margin: 0 15px;
	    padding: 0;
	}
	.menu-item a {
	    display: block;
	    font-size: 18px;
	    text-transform: capitalize;
	    border-top: 1px solid #e5e5e5;
	    color: #17191b;
	    font-weight: 700;
        padding: 5px 0;
	    text-align: left;
	}
	.sub-menu{
	    position: static;
	    box-shadow: none;
	    padding: 0;
	    margin-left: 15px;
	    width: auto;
	}
	.sub-menu-toggle{
	    display: block;
	    color: #17191b !important;
	    width: 20px;
	    height: 20px;
	    margin-top: -35px;
	    float: right;
	}
	.menu-item.menu-item-has-children .menu-item.menu-item-has-children > .sub-menu{
		padding: 0
	}
	.breadcrumb-section h1{
	    font-size: calc(50px + (120 - 50) * ((100vw - 320px) / (991 - 320)));
	    line-height: calc(60px + (120 - 60) * ((100vw - 320px) / (991 - 320)));
	    margin-bottom: 10px;
	}
	.breadcrumb-section p {
	    font-size: calc(16px + (26 - 16) * ((100vw - 320px) / (991 - 320)));
	}
	.breadcrumb-section .subtitle:after, 
	.breadcrumb-section .subtitle:before {
	    width: 60px;
	    left: -80px;
	}
	.breadcrumb-section .subtitle:after{
		left: auto;
		right: -80px;
	}

	.social-ft ul{
		margin: auto;
	    max-width: 450px;
	}
	.footer-center-wrap{
		margin: 50px 0; 
	}

	.crf-pp-section-1 .sec-inner {
	    padding: 50px;
	}
	[class*="templatesprograms-pricing"] [class*="crf-pp-section"] p{
	    margin-bottom: 15px;
	}
	.crf-pp-section-1 .wrap-button {
	    margin-top: 31px;
	}
	.crf-pp-section-2 .wrap-button{
		margin-top: 31px;
	}
	.crf-pp-section-4 .wrap-button{
		margin-top: 0px;
	}
	
	.table-customize,
	.table-customize thead,
	.table-customize tbody,
	.table-customize th,
	.table-customize td,
	.table-customize tr {
		display: block;
	}

	.table-customize > thead > tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.table-customize > tbody > tr {
		border-bottom: 1px solid #ccc;
	    border-bottom: 10px solid #17191b;
	}

	.table-customize > tbody > tr:first-child {
		width: auto;
	}

	.table-customize > tbody > tr:last-child {
		border-radius: 0 0 3px 3px;
		border-bottom: none;
	}

	.crf_pp_table tbody tr td:first-child{
		width: auto;
		background: transparent;
	}
	.crf_pp_table table {
		background-image: none;
	}



    .table-customize thead {
        display: none;
    }

    .table-customize tbody td {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    align-items: center;
	    -ms-align-items: center;
	    -webkit-align-items: center;
	    border: none;
	    border-bottom: 1px solid #ccc;
	    position: relative;
	    overflow: hidden;
	    padding: 0 20px !important;
    }

    .table-customize tbody tr td:first-child {
        background: #0dca00;
        color: #fff;
    }

    .table-customize tbody tr td:first-child a {
        color: #fff;
    }

    .table-customize tbody tr td:first-child:before {
        color: rgb(225,181,71);
    }

    .table-customize tbody tr td:first-child span{
    	text-transform: uppercase;
    	color: #fff;
    }


    .table-customize tbody td:before {
        content: attr(data-title);
	    float: left;
	    width: 50%;
	    text-align: left;
	    font-weight: 600;
    }
    .table-customize tbody td span{
	    float: left;
	    width: 50%;
	    text-align: right;
	    color: #17191b;
	    font-weight: 600;
    }

    .table-customize tr th:last-child, 
    .table-customize tr td:last-child {
        max-width: 100% !important;
        min-width: 100px !important;
        width: 100% !important;
    }



}
@media (max-width: 768px){
	.btn-crossfit {
	    padding: 12px 25px;
	    height: auto !important;
	    line-height: normal !important;
	}
}
@media (max-width: 767px){
	.single-page .content .entry-header{
		height: auto;
	}
	.breadcrumb-section h1{
		padding-bottom: 15px;
	}
	.breadcrumb-section .page-title {
	    background-color: none;
	    -webkit-text-fill-color: initial;
	    -ms-text-fill-color: initial;
	    text-fill-color: initial;
	}
	.breadcrumb-section {
	    height: 620px;
	}
	.menu-toggle{
		font-size: 0px;
	}
	.breadcrumb-section .subtitle:after, .breadcrumb-section .subtitle:before{
		display: none;
	}
	.widget .wpcf7{
		display: none !important;
	}

}
@media (max-width: 600px){
	.admin-bar .site-header.fixed-header{
		top: 0;
	}
}
@media (max-width: 667px){
	.pricing-box{
		width: 100%;
	}
	.sec-title{
		margin-bottom: 17px;
	    padding-bottom: 17px;
	}
	.crf-pp-section-1 .sec-inner {
	    margin-top: 30px;
	    padding: 30px;
	}
	.crf-pp-section-2 .sec-title {
	    margin-bottom: 20px;
	}
	    
}
@media (max-width: 568px){

}
@media (max-width: 480px){
	

}
@media (max-width: 425px){
	.ft-btn .btn-crossfit{
		font-size: 16px;
	}
	.breadcrumb-section{
		padding-bottom: 0px;
	}
	
	.hm-section-4 .content-wrap .wcc-wrap:last-child:after {
	    display: block;
	}

	.hm-section-4 .content-wrap .col-wcc-3 .wcc-wrap:last-child:after {
		display: none;
	}



}
@media (max-width: 320px){

}